.card{
    width: 350px;
    height:160px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}
.cardWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.cardData{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    column-gap: 20px;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.btncard{
    border: none;
}
.btn-card-wapper{
    display: inline;
}
.btncard{
    background-color: orange;
}
.img{
    width: 210px;
    height: 85px;
    background-color: black;
}