*{
    margin: 0;
}
.maintainer{
    width: 100vw;
    background-color: gray;
    height: 6vh;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input{
    width: 20vw;
    height: 15px;
    border: 2px solid orangered;
    outline: none;
    padding: 5px;
    border-radius: 5px;
}